.main {
    border: 1px solid black;
    height: 800px;
    width: 800px;
    margin: auto;
}

.circle-horizontal {
    background: red;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    top: 375px;
    left: 375px;
}

.circle-horizontal, .circle-vertical {
    transition: transform 0.15s linear;
}

.horizontal-left {
    transform: translateX(-375px);
}

.horizontal-right {
    transform: translateX(375px);
}

.vertical-down {
    transform: translateY(375px);
}

.vertical-up {
    transform: translateY(-375px);
}