.app {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 50%;
}

.bar {
  display: flex;
}

input {
  padding: 10px;
  border: 1px solid grey;
  float: left;
  background: #f1f1f1;
  flex-grow: 1;
}

.magnifier {
  float: left;
  padding: 10px;
  background: #2196F3;
  color: white;
  border: 1px solid grey;
  border-left: none;
}

.clear {
  float: left;
  padding: 10px;
  background: #f34821;
  color: white;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

.clear:hover {
  background: #972e05;
}


.hide {
  display: none;
}

.strike {
  text-decoration: line-through;
}

.person {
  line-height: 150%;
  cursor: pointer;
}

.person:hover {
  background: #bfd5e8;
}


list {
 list-style: none;
}